SQLDB_HOST=localhost
SQLDB_PORT=5432
SQLDB_USER=postgres
SQLDB_PASSWORD=postgres
SQLDB_NAME=billsplittr
SQLDB_DRIVER=postgres

APP_ENV=debug
APP_PORT=8080
APP_TIMEOUT=5s
APP_CLIENTURLS=http://localhost:5173
APP_TIMEZONE=Asia/Jakarta

AUTH_SECRETKEY=secret
AUTH_TOKENDURATION=9h
AUTH_COOKIEDURATION=9h
AUTH_ISSUER=billsplittr
AUTH_URL=

GOOGLE_SERVICE_ACCOUNT=
